.CardHeader {
  width: 100%;
  background-color: #eae8fd;
  height: 55vh;
  border: 1px solid #7b61ff59;
  margin-bottom: 9.6rem;
  padding: 1.6rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.6rem;
}

.text {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #7b61ff;
  padding: 2.4rem;
}

.text h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 6.2rem;
}

.text p {
  line-height: 3.2rem;
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-indent: 0;
  color: #3e3a51;
  max-width: 50rem;
}

.image {
  display: flex;
  justify-content: center;
}

.image img {
  width: 100%;
}

.CardHeaderDark {
  background-color: #1b1a2b;
}

.textDark {
  background-color: #7b61ff;
  color: #ffff;
}

.textDark p {
  color: #ffff;
}

@media (max-width: 1265px) {
  .text h1 {
    font-size: 5.2rem;
  }

  .text p {
    font-size: 2rem;
    line-height: 2.4rem;
  }
}

@media (max-width: 1055px) {
  .CardHeader {
    height: 45vh;
  }

  .text h1 {
    font-size: 4.2rem;
  }

  .text p {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

@media (max-width: 900px) {
  .image img {
    width: 80%;
  }

  .text h1,
  .text p {
    text-align: center;
  }

  .text h1 {
    font-size: 6.2rem;
    margin-bottom: 1rem;
  }

  .text p {
    max-width: unset;
    font-size: 1.8rem;
    line-height: 2rem;
  }

  .CardHeader {
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.6rem;
  }
}

@media (max-width: 600px) {
  .text h1 {
    font-size: 4.2rem;
  }
}

@media (max-width: 430px) {
  .text h1 {
    font-size: 2.6rem;
  }

  .text p {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}
