.Header {
  margin: 9.6rem 0;

  display: grid;
  grid-template-columns: 40% 1fr;
  grid-template-rows: 1fr;
}

.name {
  color: #7b61ff;
}

.presentation {
  align-self: end;
  font-style: italic;
}

.presentation > * {
  margin-left: auto;
}
