.ProjectList {
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  gap: 10% 20%;
  padding-bottom: 20%;
}

.project3 {
  width: 80%;
  margin: 0 auto;
  grid-column: 1 / -1;
}

.project1,
.project2,
.project3 {
  color: #222;
}

@media (max-width: 1300px) {
  .ProjectList {
    gap: 5% 5%;
  }
}

@media (max-width: 955px) {
  .ProjectList {
    display: flex;
    flex-direction: column;
    gap: 6.4rem;
  }

  .project3 {
    width: 100%;
  }
}
