@font-face {
  font-family: Nunito;
  src: url("./Fonts/Nunito/Nunito-VariableFont_wght.ttf");
  font-style: normal;
}

@font-face {
  font-family: Nunito;
  src: url("./Fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf");
  font-style: italic;
}

@font-face {
  font-family: DMsans;
  src: url("./Fonts/DM_Sans/DMSans-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: DMsans;
  src: url("./Fonts/DM_Sans/DMSans-Medium.ttf");
  font-weight: Medium;
}

@font-face {
  font-family: DMsans;
  src: url("./Fonts/DM_Sans/DMSans-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: DMsans;
  src: url("./Fonts/DM_Sans/DMSans-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: SuisseIntl;
  src: url("./Fonts/SuisseIntl/SuisseIntl-SemiBold-WebXL.woff");
  font-weight: bold;
}

@font-face {
  font-family: SuisseIntl;
  src: url("./Fonts/SuisseIntl/SuisseIntl-Medium-WebXL.woff");
  font-weight: 500;
}

@font-face {
  font-family: TT_Hoves_SL;
  src: url("./Fonts/TT_Hoves_SL/TT_Hoves_SL_Regular.woff2");
  font-weight: normal;
}

@font-face {
  font-family: TT_Hoves_SL;
  src: url("./Fonts/TT_Hoves_SL/TT_Hoves_SL_Medium.woff2");
  font-weight: 600;
}

@font-face {
  font-family: TT_Hoves_SL;
  src: url("./Fonts/TT_Hoves_SL/TT_Hoves_SL_DemiBold.woff2");
  font-weight: 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: #7b61ff;
  color: #f3f3f3;
}

:root {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: TT_Hoves_SL;
  display: flex;
  background-color: #f3f3f3;
  overflow-x: hidden;
}

li {
  text-decoration: none;
  list-style-type: none;
}

.fix {
  border: 1px solid #7b61ff59;
}
